body {
	overflow:hidden;
	text-align:center;
	
	background-color: #000;
	color: white;
	
	font-family: Verdana, Geneva, sans-serif;
	font-size: 40px;
}

div#container {
	position: absolute;
	top: 40%;
}

div#message {
	text-align:center;
	
	vertical-align:middle;
}

div#consolelogs{
	color: red;
	margin-top: 15px;
	
	font-size: 20px;
}

div {
	width: 100%;
	text-align: center;
}