body {
	overflow:hidden;
	background-color: #000;
	
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	font-size:40px;
}

div#message {
	margin: auto;
	
	color:#FFFFFF;
	
	border: 0px solid silver;
	display: table-cell;
	vertical-align: middle;
	background-color: #000000;
}

div#console {
	margin: auto;
	
	color: #880000;
}